flows.json
[{"id":"77813220.f5f60c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"519a51a.7386cb","type":"inject","z":"77813220.f5f60c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Welcome to IoT class","payloadType":"str","x":190,"y":60,"wires":[["50260396.922aac"]]},{"id":"50260396.922aac","type":"function","z":"77813220.f5f60c","name":"","func":"var dateNow = new Date(); \nvar timeAsString=dateNow.toLocaleTimeString(); \nmsg.payload= msg.payload+ 'The Current Time is'+timeAsString+'.';\nreturn msg; \n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":100,"wires":[["93028f73.d0262"]]},{"id":"93028f73.d0262","type":"debug","z":"77813220.f5f60c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":140,"wires":[]},{"id":"1c57275a.a0afb9","type":"inject","z":"77813220.f5f60c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":220,"wires":[["1fe8565a.a173ea"]]},{"id":"1fe8565a.a173ea","type":"http request","z":"77813220.f5f60c","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://nodered.org ","tls":"","persist":false,"proxy":"","authType":"","x":340,"y":280,"wires":[["a2822ebe.b0acd"]]},{"id":"a2822ebe.b0acd","type":"html","z":"77813220.f5f60c","name":"","property":"payload","outproperty":"payload","tag":".node-red-latest-version","ret":"html","as":"single","x":580,"y":320,"wires":[["2894e802.2f9128"]]},{"id":"2894e802.2f9128","type":"debug","z":"77813220.f5f60c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":380,"wires":[]},{"id":"e5f85dc3.2c10c","type":"inject","z":"77813220.f5f60c","name":"Test String","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello world","payloadType":"str","x":150,"y":460,"wires":[["d2971c40.2507c"]]},{"id":"d2971c40.2507c","type":"function","z":"77813220.f5f60c","name":"","func":"var payload=msg.payload; //get payload \nmsg.payload=payload.toUpperCase(); //convert to uppercase \nvar topic=msg.topic; //get topic \nmsg.topic=topic.toUpperCase();//convert to uppercase \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":520,"wires":[["c5a5ede5.cfc94"]]},{"id":"c5a5ede5.cfc94","type":"debug","z":"77813220.f5f60c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":580,"wires":[]},{"id":"ffd7cc8f.9170b","type":"inject","z":"77813220.f5f60c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":680,"wires":[["847e408e.c035d"]]},{"id":"847e408e.c035d","type":"openweathermap","z":"77813220.f5f60c","name":"Shivani Mishal","wtype":"current","lon":"","lat":"","city":"Panjim","country":"India","language":"en","x":390,"y":720,"wires":[["2e07baac.2e0ef6"]]},{"id":"2e07baac.2e0ef6","type":"debug","z":"77813220.f5f60c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":780,"wires":[]}]